---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

h1.post-title {
	text-align:center;
}

p.read {
	text-align:center;
	color:#696969;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

#googleAd { text-align: center; }
